<div class="navbar-wagon">

<h1> CRESCO
</h1>
<h3> Creative web agency for ArtWorld Professionals
</h3>

    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">



      <div class: "mains"> Agence d'expertise, de communication et de création de sites web
        <%= image_tag "klein.jpg", width: 100, height: 100, crop: :fill %>
        <div>
<h6>Contact: cresco-agency@gmail.com</h6>
</div>
      </div>
      </div>
</div>
    </div>
