---
title: CRESCO Creative Agency
---

<div class="skw-pages">
  <div class="skw-page skw-page-1 active">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">L'agence CRESCO est spécialisée dans la réalisation de sites web. </h2>
          <p class="skw-page__description">Dédiée aux artistes (plasticiens, photographes) et artisans, aux écrivains et professionnels de la création, elle associe des compétences théoriques (docteur en art) et pratiques (développement / programmation fullstack).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-2">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">Confiez-nous la création de votre site, outil majeur pour la diffusion de votre pratique ou activité. </h2>
          <p class="skw-page__description">Nous vous proposerons des solutions adaptées pour concevoir un outil de communication répondant à votre personnalité. Merci de nous contacter pour obtenir gracieusement un devis détaillé : cresco-agency@gmail.com
          </p>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-3">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">Missions d'expertise, de consulting et de recherche effectuées notamment auprès d'organismes de références suivants :</h2>
          <p class="skw-page__description"><ul><li>La Bibliothèque nationale de France </li>
<li>Le Centre national de la recherche scientifique, Paris </li>
<li>The Art Story Foundation, New York</li>
<li>Musées publics & Collections privées.</li></ul></p>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-4">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">Les sites web et applications réalisés associent des technologies complémentaires </h2>
          <p class="skw-page__description"><ul><li>Back-end : Ruby on rails (langage de programmation orientée objet)</li>
<li>Front-end : HTML, CSS, Javascript, etc.</li>
<li>"Expérience-utilisateur" (UI)</li></p>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-5">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">Nous proposons des tarifs accessibles adaptés à chaque profil ainsi que des solutions sur mesure pour vous accompagner dans votre stratégie de communication :</h2>

            <p class="skw-page__description"> Réfléchissons ensemble aux meilleurs solutions de développement.
            Merci de nous contacter pour tous renseignements à cette adresse : <a class="skw-page__link" >cresco-agency@gmail.com </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
